@font-face {
  font-family: "HelveticaNowText";
  src: url("/font/helvetica/helvetica-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --font-family-helvetica: "HelveticaNowText", sans-serif;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1320px;
}

.text-helvetica {
  font-family: var(--font-family-helvetica);
}

.text-urbanist {
  font-family: var(--font-urbanist);
}

.text-year {
  font-size: calc(440 / 1440 * 100vw);
}
